{% extends 'djf_surveys/admins/form.html' %}

{% block extra_js %}
    <script>
        const fieldTypeElement = document.getElementById('id_type_field');
        const fieldTypeValue = fieldTypeElement.value;
        const elChoice = document.getElementById("section_field_id_choices");
        const elSchema = document.getElementById("section_field_id_schema");

        toggleChoices(fieldTypeValue);
        toggleSchema(fieldTypeValue);

        fieldTypeElement.addEventListener('change', function() {
          console.log('You selected: ', this.value);
          toggleChoices(this.value);
          toggleSchema(this.value);
        });

        function toggleChoices(value) {
            if (value == 2 || value == 3 || value == 4) {
              elChoice.hidden = false;
          } else {
              elChoice.hidden = true;
          }
        }

        function toggleSchema(value) {
            if (value == 13) {
              elSchema.hidden = false;
          } else {
              elSchema.hidden = true;
          }
        }
    </script>
{% endblock %}