.rjf-form-row input, .rjf-form-row select {
    max-width: 100% !important;
}

.rjf-form-row-controls + .rjf-form-row-inner {
  padding-right: 5px !important;
}

.rjf-form-row label + .rjf-input-group {
    width: 100% !important;
    display: block !important;
}

.rjf-form-row label input[type="checkbox"] {
    width: 1em !important;
}

