.rjf-form-group {
  max-width: 100%;
}

.rjf-multiselect-field-options-container {
    width: 100%;
}

.rjf-form-row input, .rjf-form-row select {
    max-width: 100%;
}

.rjf-form-row-controls + .rjf-form-row-inner {
  padding-right: 5px;
}

.rjf-form-row label + .rjf-input-group {
    width: 100%;
    display: block;
}

.rjf-form-row label input[type="checkbox"] {
    width: 1em;
}

.rjf-error-text {
    color: #f87171;
}
